<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">-->
    <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
      <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
        <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
      </sectionGroup>
    </sectionGroup>
    <!--</sectionGroup>-->
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="UdpAppender"/>
    </root>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1"/>
      <param name="RemotePort" value="8080"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net">
        <locationInfo value="true"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\AppLogs\GarageQuoteSheet-log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%logger] %-5level - %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\AppLogs\GarageQuoteSheet-log.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] [%logger] %-5level - %message%newline"/>
      </layout>
    </appender>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1"/>
      <remotePort value="8080"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--
      <param name="ConversionPattern" value="%d [%t] %-5p %c %C %F %L %M - %m%n"/>
      -->
        <param name="ConversionPattern" value="%date [%thread] [%logger] %-5level - %message%newline"/>
      </layout>
    </appender>
    <category name="XmlUtils.XmlConfig">
      <priority value="ERROR"/>
      <appender-ref ref="RollingFileAppender"/>
    </category>
  </log4net>
  <connectionStrings>
    <add name="HO3ConnectionString" connectionString="Data Source=devsql01\elcid;Initial Catalog=HO3;Persist Security Info=True;User ID=devwebuser;Password=$iuins0987" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="CrystalDecisions.CrystalReports.Design, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
    </httpHandlers>
    <identity impersonate="false" userName="siu\webadmin" password="s1u1ns"/>
    <httpRuntime executionTimeout="600" maxRequestLength="65535"/>
  </system.web>
  <location allowOverride="true">
    <appSettings>
      <!--1 for production, 1 for staging -->
      <add key="GarageCoverageKey" value="2"/>
      <add key="922ContentHomeUrl" value="http://www.siuins.com/sicweb/inside.aspx"/>
      <add key="UnderwritingCommAutoHomeUrl" value="http://www.siuins.com/sicweb/Login.aspx"/>
      <add key="SIURateUrl" value="http://www.siuins.com/SIURATE/pages/homepage.aspx"/>
      <add key="H03Rating.HO3Service" value="http://siuweb1ex/Raters/HO3Service.asmx"/>
      <add key="SIUService.service" value="http://sw2siu.siuins.com/siuservices/service.asmx"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="HO3ConnectionString" value="Data Source=devsql01\elcid;Initial Catalog=HO3;Persist Security Info=True;User ID=devwebuser;Password=$iuins0987"/>
      <!--<add key="AIMConnectionString" value="Data Source=devsql03\aim;Initial Catalog=CIS;User Id=devwebuser;Password=$iuins0987;packet size=4096"/>-->
      <add key="AIMConnectionString" value="Data Source=SIU-ALP-SQL-003;Initial Catalog=CIS;User Id=AIMUser;Password=Welcome2@;packet size=4096"/>
      <!--<add key="PrinterName" value="NPI24CDBE (HP LaserJet Pro M202n)"/>-->
      <add key="PrinterName" value="Send To OneNote 2013"/>
      <add key="AppID" value="10"/>
      <add key="Taskid-btnSubmit_Click" value="25"/>
      <add key="Taskid-SaveCommercialQuoteData" value="26"/>
      <add key="VersionID" value="2"/>
      <!-- <add key="H03Rating.HO3Service" value="http://devtest01/Raters/HO3Service.asmx"/>
     <add key="SIUService.service" value="http://sw2siu.siuins.com/siuservices/service.asmx"/>
      <add key="TaxesAndFees.StateTaxesAndFees" value="http://devtest01/Raters/StateTaxesAndFees.asmx"/>-->
      <!--<add key="WcfImageRightService.Service" value="http://siuweb1ex/SendToImageRight/Service.asmx"/>-->
      <!--<add key ="AIMConnectionString" value="Data Source=godzilla\siu;Initial Catalog=CIS;User Id=sa;Password=cisaim;packet size=4096"/>-->
    </appSettings>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IImageRightService"/>
        <binding name="ServiceSoap"/>
        <binding name="StateTaxesAndFeesSoap"/>
        <binding name="HO3ALEngineSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://siu-alp-devweb-001:85/ImageRightService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageRightService" contract="WcfImageRightService.IImageRightService" name="BasicHttpBinding_IImageRightService"/>
      <endpoint address="http://siu-alp-devweb-001:90/SIUServices/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="SIUService.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://siu-alp-devweb-001:90/HO3Service/StateTaxesAndFees.asmx" binding="basicHttpBinding" bindingConfiguration="StateTaxesAndFeesSoap" contract="TaxesAndFees.StateTaxesAndFeesSoap" name="StateTaxesAndFeesSoap"/>
      <endpoint address="http://devweb01/RatingEngineAL/HO3ALEngine.asmx" binding="basicHttpBinding" bindingConfiguration="HO3ALEngineSoap" contract="H03Rating.HO3ALEngineSoap" name="HO3ALEngineSoap"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>